#menuPrincipal {
    margin-bottom: 0;
    border-radius: 0;
}

#menuCategorie {
    border-radius: 0;
}

.rmvButton {
    width:15px;
    height:15px;
}

.carouselImg {
    width:1140px;
    height:100%;
}

.adminCarouselImg {
    width:50px;
    height:40px;
}

.navbar, navbar-default {
    margin: 0;
}

.item {
    height:100%;
}